$themePicker = {
  colorName1: red,
  colorName2: yellow,
  colorName3: blue
}


#valine-vuepress-comment {
  width: 75%;
  margin: auto;
}

/*修改prev和next的max-width*/
.page-edit, .page-nav{
  max-width: 75%;
}


$accentColor = #5d85c8

// 定制滚动条
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  //border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);
  border-radius: 10px;
  
}
/*定义滑块悬浮样式
::-webkit-scrollbar-thumb:hover{
  background-image: -webkit-gradient(linear,
  left bottom, left top,
  color-stop(0.44, rgb(253,187,45)),
  color-stop(0.72, rgb(253,187,45)),
  color-stop(0.86, rgb(60,186,146)));
  transition: 0.3s ease-in-out;
}
*/



/*

$borderColor = #000000 //默认边框颜色

.page
  .list
    .item
      padding: 1rem 0
      border-bottom: 1px solid #eaecef
      &:last-child
        border: none
      .title
        display: block
        line-height: 5.7
        font-weight: 500
        color: #1e90ff
        text-decoration: none
        font-size: 18px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .desc
        font-size: 14px

*/